@tailwind base;
@tailwind components;
@tailwind utilities;

.s1{
    background-image: url(./bg\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.s2{
    background-image: url(./bg\ \(3\).png);
    background-repeat: no-repeat;
    background-size: cover ;
}
.d1{
    background-image: url(./svg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.d2{
    background-image: url(./svg\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}